:root{
  --dark-black: rgba(0,0,0,0.5);
}

.navbar-brand{
  text-transform: capitalize;
  font-weight: 700;
  /* font-family: "Cascadia Code"; */
}

.social-media{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  font-size: 20px;
}
.social-media li a{
  text-decoration: none;
}